<a href="https://colab.research.google.com/github/Chaeyeoncho/data_analysis_/blob/main/%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4%EC%84%A0%ED%98%B8%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
netflix_data = '/content/데분_넷플릭스.csv'

In [ ]:
netflix_data = pd.read_csv(netflix_data, encoding='ISO-8859-1')
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25.Sep.21,2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24.Sep.21,2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24.Sep.21,2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24.Sep.21,2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24.Sep.21,2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# countries_list, 국가별 gdp  추출

In [ ]:
# 국가 list 추출
netflix_data = pd.read_csv('/content/데분_넷플릭스.csv', encoding='ISO-8859-1')

# 'country' 컬럼에서 NaN 값을 제거하고, 각 엔트리를 쉼표로 구분된 국가 목록으로 분리한 후 고유한 값만 추출
country_series = netflix_data['country'].dropna().apply(lambda x: x.split(', ')).explode()
unique_countries = country_series.unique()

# 고유 국가 목록으로 데이터 프레임을 생성
countries_list = pd.DataFrame(unique_countries, columns=['Country'])

# 데이터 프레임 확인
print(countries_list.head())  # 처음 몇 개의 데이터 출력

# 필요에 따라 데이터 프레임을 CSV 파일로 저장
#countries_df.to_csv('path/to/countries_list.csv', index=False)

         Country
0  United States
1   South Africa
2          India
3          Ghana
4   Burkina Faso

In [ ]:

gdp_data = pd.read_csv('/content/데분_ 2022년도 나라별 gdp .csv', encoding='utf-8') # 최신 gdp 자료 2022년도만 추출

# Display the columns and first few rows of each dataframe
countries_list_columns = countries_list.columns
gdp_data_columns = gdp_data.columns
countries_list_head = countries_list.head()
gdp_data_head = gdp_data.head()

countries_list_columns, gdp_data_columns, countries_list_head, gdp_data_head

(Index(['Country'], dtype='object'),
 Index(['Country', 'GDP 2022'], dtype='object'),
          Country
 0  United States
 1   South Africa
 2          India
 3          Ghana
 4   Burkina Faso,
          Country      GDP 2022
 0  United States  2.540000e+13
 1   South Africa  4.050000e+11
 2          India  3.420000e+12
 3          Ghana  7.376605e+10
 4   Burkina Faso  1.882006e+10)

# 넷플릭스 파일(netflix_data) 에서 국가, 장르 별 전처리

In [ ]:
# CSV 파일 불러오기
# data = pd.read_csv(netflix_data , encoding='cp949')  # 한글 데이터를 포함하고 있으므로 'cp949' 인코딩 사용

# 필요한 컬럼만 선택
data_filtered = netflix_data[['country', 'listed_in']].dropna()

# 결측치 처리
data_filtered['country'].fillna('Unknown', inplace=True)  # 결측치를 'Unknown'으로 대체
data_filtered['listed_in'].fillna('No Category', inplace=True)  # 결측치를 'No Category'로 대체

# 'listed_in' 컬럼에서 카테고리를 쉼표로 구분하여 처리
data_filtered['listed_in'] = data_filtered['listed_in'].str.split(', ')
data_exploded = data_filtered.explode('listed_in')

# 중복 데이터 제거
data_exploded.drop_duplicates(inplace=True)

# 결과 확인
print(data_exploded.head())
print(data_exploded['listed_in'].unique())  # 카테고리 확인

# CSV 파일로 저장할 경우
# data_exploded.to_csv('/path/to/your/output_file.csv', index=False)

         country               listed_in
0  United States           Documentaries
1   South Africa  International TV Shows
1   South Africa               TV Dramas
1   South Africa            TV Mysteries
4          India  International TV Shows
['Documentaries' 'International TV Shows' 'TV Dramas' 'TV Mysteries'
 'Romantic TV Shows' 'TV Comedies' 'Dramas' 'Independent Movies'
 'International Movies' 'British TV Shows' 'Reality TV' 'Comedies'
 'Crime TV Shows' 'Spanish-Language TV Shows' 'TV Action & Adventure'
 'Romantic Movies' 'Docuseries' 'Horror Movies' 'Sci-Fi & Fantasy'
 'Thrillers' "Kids' TV" 'Action & Adventure' 'TV Sci-Fi & Fantasy'
 'Classic Movies' 'Anime Features' 'Anime Series'
 'Children & Family Movies' 'Music & Musicals' 'Sports Movies'
 'Korean TV Shows' 'Teen TV Shows' 'Cult Movies' 'Faith & Spirituality'
 'LGBTQ Movies' 'TV Horror' 'Stand-Up Comedy' 'TV Shows' 'Movies'
 'Classic & Cult TV' 'Science & Nature TV' 'TV Thrillers'
 'Stand-Up Comedy & Talk Shows'
 'Singer-songwriter Gen Hoshino takes the stage at the sold out Tokyo Dome in his highly anticipated 2019 Pop Virus dome tour.'
 'Nikki Glaser bares all in a blistering stand-up special about sex'
 "sobriety and getting over her own insecurities. And she won't spare you the details."
 'After people in his town start turning up dead'
 'a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.'
 'Hailing from the mountains of Iga'
 'Kanzo Hattori moves in with elementary school student Kenichi Mitsuba and his family to hone his skills as a ninja.'
 'Sci-fi' 'Horror' 'Action' 'Drama' 'Romance' 'Thriller']

# 국가별 인기 장르 집계

In [ ]:
# 관련 컬럼 선택 및 결측치 제거
filtered_data = data[['country', 'listed_in']].dropna()

# 국가별로 데이터 분리 (국가명이 여러 개인 경우 분리)
filtered_data['country'] = filtered_data['country'].apply(lambda x: [country.strip() for country in x.split(',')])
filtered_data = filtered_data.explode('country')

# 장르별로 데이터 분리 (여러 장르가 한 셀에 있는 경우 분리)
filtered_data['listed_in'] = filtered_data['listed_in'].apply(lambda x: [genre.strip() for genre in x.split(',')])
filtered_data = filtered_data.explode('listed_in')

# 유효한 국가 이름만 필터링 (영문자 및 공백만 포함된 문자열)
valid_countries = filtered_data['country'].str.contains('^[A-Za-z ]+$')
filtered_valid_countries = filtered_data[valid_countries]

# 각 국가별로 가장 인기 있는 장르 집계
popular_genre_by_country = filtered_valid_countries.groupby('country')['listed_in'].agg(
    lambda x: x.value_counts().idxmax())

# 결과 출력
print(popular_genre_by_country.head(20))

country
Afghanistan              Documentaries
Albania                         Dramas
Algeria                         Dramas
Angola              Action & Adventure
Argentina         International Movies
Armenia                  Documentaries
Australia                       Dramas
Austria           International Movies
Azerbaijan      International TV Shows
Bahamas             Action & Adventure
Bangladesh                      Dramas
Belarus               British TV Shows
Belgium           International Movies
Bermuda                  Documentaries
Botswana                 Documentaries
Brazil            International Movies
Bulgaria            Action & Adventure
Burkina Faso                    Dramas
Cambodia                        Dramas
Cameroon                        Dramas
Name: listed_in, dtype: object

#국가별 장르 선호 빈도수 분석

In [ ]:

# 'country'와 'listed_in' 컬럼에 집중
data_filtered = netflix_data[['country', 'listed_in']].dropna()

# 'country' 컬럼 정제하기
data_filtered['country'] = data_filtered['country'].str.split(', ')
data_exploded_countries = data_filtered.explode('country')
data_exploded_countries['country'] = data_exploded_countries['country'].str.strip()
valid_countries = data_exploded_countries['country'].str.contains('^[a-zA-Z ]+$')
cleaned_data = data_exploded_countries[valid_countries]

# 'listed_in' 컬럼 처리하기
cleaned_data['listed_in'] = cleaned_data['listed_in'].str.split(', ')
cleaned_data_exploded = cleaned_data.explode('listed_in')

# 국가별로 'listed_in' 카테고리 빈도수 계산
country_genre_counts = cleaned_data_exploded.groupby(['country', 'listed_in']).size().unstack(fill_value=0)

# 결과 출력
print(country_genre_counts.head())  # 처음 몇 줄만 출력

listed_in    Action  Action & Adventure  Anime Features  Anime Series  \
country
Afghanistan       0                   0               0             0
Albania           0                   0               0             0
Algeria           0                   0               0             0
Angola            0                   1               0             0
Argentina         0                   3               0             0

listed_in    British TV Shows  Children & Family Movies  Classic & Cult TV  \
country
Afghanistan                 0                         0                  0
Albania                     0                         0                  0
Algeria                     0                         0                  0
Angola                      0                         0                  0
Argentina                   0                         3                  1

listed_in    Classic Movies  Comedies  Crime TV Shows  ...  TV Comedies  \
country                                                ...
Afghanistan               0         0               0  ...            0
Albania                   0         0               0  ...            0
Algeria                   1         0               0  ...            0
Angola                    0         0               0  ...            0
Argentina                 1        14               8  ...            2

listed_in    TV Dramas  TV Horror  TV Mysteries  TV Sci-Fi & Fantasy  \
country
Afghanistan          0          0             0                    0
Albania              0          0             0                    0
Algeria              0          0             0                    0
Angola               0          0             0                    0
Argentina            2          1             0                    0

listed_in    TV Shows  TV Thrillers  Teen TV Shows  Thriller  Thrillers
country
Afghanistan         0             0              0         0          0
Albania             0             0              0         0          0
Algeria             0             0              0         0          0
Angola              0             0              0         0          0
Argentina           0             0              1         0          8

[5 rows x 48 columns]

<ipython-input-163-97f9da60cb8a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['listed_in'] = cleaned_data['listed_in'].str.split(', ')

#gdp, 장르, 국가 병합

In [ ]:
# 파일 경로 설정
genre_data_path = '/content/country_genre_counts.csv'
gdp_data_path = '/content/데분_ 2022년도 나라별 gdp .csv'

# 데이터 불러오기
genre_data = pd.read_csv(genre_data_path)
gdp_data = pd.read_csv(gdp_data_path)

# 장르 데이터에서 필요한 컬럼 선택 및 결측치 제거
genre_data_filtered = genre_data.melt(id_vars='country', var_name='listed_in', value_name='count')
genre_data_filtered = genre_data_filtered[genre_data_filtered['count'] > 0]

# GDP 데이터에서 필요한 컬럼 선택 및 컬럼 이름 변경
gdp_data_renamed = gdp_data.rename(columns={'Country': 'country', 'GDP 2022': 'gdp'}).dropna()

# 두 데이터셋 병합
merged_data = pd.merge(genre_data_filtered, gdp_data_renamed, on='country', how='left')

# 결과 정리: 각 국가별로 'country', 'listed_in', 'gdp' 형식으로 표현
merged_data['listed_in'] = merged_data['listed_in'].apply(lambda x: x.replace('_', ' ').title())
merged_data = merged_data[['country', 'listed_in', 'gdp']]

print(merged_data)

# 최종 데이터 저장
#output_path = '/content/drive/MyDrive/merged_data.csv'
#merged_data.to_csv(output_path, index=False)

#print("Data saved successfully to:", output_path)

             country           listed_in           gdp
0        South Korea              Action           NaN
1             Angola  Action & Adventure  1.070000e+11
2          Argentina  Action & Adventure  6.310000e+11
3          Australia  Action & Adventure  1.690000e+12
4            Bahamas  Action & Adventure           NaN
...              ...                 ...           ...
1409  United Kingdom           Thrillers  3.090000e+12
1410   United States           Thrillers  2.540000e+13
1411       Venezuela           Thrillers           NaN
1412         Vietnam           Thrillers           NaN
1413    West Germany           Thrillers           NaN

[1414 rows x 3 columns]

## 회귀분석을 위한 범주형 데이터를 더미 변수로 변환

In [ ]:
# 필요한 컬럼만 선택
import pandas as pd
from sklearn.model_selection import train_test_split
data_filtered = data[['country', 'listed_in']].dropna()

# 'country'와 'listed_in' 컬럼에서 여러 항목이 포함된 경우 분리
data_filtered['country'] = data_filtered['country'].str.split(', ')
data_filtered = data_filtered.explode('country')
data_filtered['listed_in'] = data_filtered['listed_in'].str.split(', ')
data_filtered = data_filtered.explode('listed_in')

# 중복 데이터 제거
data_filtered.drop_duplicates(inplace=True)

# 더미 변수 생성
data_dummies = pd.get_dummies(data_filtered, columns=['country', 'listed_in'])

## Train data와 Test data 분할

In [ ]:
# 데이터를 훈련 세트와 테스트 세트로 분할 (80/20 비율)
train_set, test_set = train_test_split(data_dummies, test_size=0.2, random_state=42)

# 훈련 세트와 테스트 세트의 개요를 출력
train_set_info = train_set.info()
test_set_info = test_set.info()
train_set.head(), test_set.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1149 entries, 2814 to 4897
Columns: 187 entries, country_ to listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
dtypes: bool(187)
memory usage: 218.8 KB
<class 'pandas.core.frame.DataFrame'>
Index: 288 entries, 1257 to 3011
Columns: 187 entries, country_ to listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
dtypes: bool(187)
memory usage: 54.8 KB

(      country_  country_ December 23  country_1.Oct.19  country_10.Oct.19  \
 2814     False                 False             False              False
 8477     False                 False             False              False
 503      False                 False             False              False
 5052     False                 False             False              False
 15       False                 False             False              False

       country_2018  country_28.Feb.18  country_Afghanistan  country_Albania  \
 2814         False              False                False            False
 8477         False              False                False            False
 503          False              False                False            False
 5052         False              False                False            False
 15           False              False                False            False

       country_Algeria  country_Angola  ...  listed_in_TV Horror  \
 2814            False           False  ...                 True
 8477            False           False  ...                False
 503             False           False  ...                False
 5052            False           False  ...                False
 15              False           False  ...                False

       listed_in_TV Mysteries  listed_in_TV Sci-Fi & Fantasy  \
 2814                   False                          False
 8477                   False                          False
 503                    False                          False
 5052                   False                          False
 15                     False                          False

       listed_in_TV Shows  listed_in_TV Thrillers  listed_in_Teen TV Shows  \
 2814               False                   False                    False
 8477               False                   False                    False
 503                False                   False                    False
 5052               False                   False                    False
 15                 False                   False                    False

       listed_in_Thriller  listed_in_Thrillers  \
 2814               False                False
 8477               False                False
 503                False                False
 5052               False                False
 15                 False                False

       listed_in_a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.  \
 2814                                              False
 8477                                              False
 503                                               False
 5052                                              False
 15                                                False

       listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
 2814                                              False
 8477                                              False
 503                                               False
 5052                                              False
 15                                                False

 [5 rows x 187 columns],
       country_  country_ December 23  country_1.Oct.19  country_10.Oct.19  \
 1257     False                 False             False              False
 1854     False                 False             False              False
 1359     False                 False             False              False
 4962     False                 False             False              False
 2826     False                 False             False              False

       country_2018  country_28.Feb.18  country_Afghanistan  country_Albania  \
 1257         False              False                False            False
 1854         False              False                False            False
 1359         False              False                False            False
 4962         False              False                False            False
 2826         False              False                False            False

       country_Algeria  country_Angola  ...  listed_in_TV Horror  \
 1257            False           False  ...                False
 1854            False           False  ...                False
 1359            False           False  ...                False
 4962            False           False  ...                False
 2826            False           False  ...                False

       listed_in_TV Mysteries  listed_in_TV Sci-Fi & Fantasy  \
 1257                   False                          False
 1854                   False                          False
 1359                   False                          False
 4962                   False                          False
 2826                   False                          False

       listed_in_TV Shows  listed_in_TV Thrillers  listed_in_Teen TV Shows  \
 1257               False                   False                    False
 1854               False                   False                    False
 1359               False                   False                    False
 4962               False                   False                    False
 2826               False                   False                    False

       listed_in_Thriller  listed_in_Thrillers  \
 1257               False                False
 1854               False                False
 1359               False                False
 4962               False                False
 2826               False                False

       listed_in_a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.  \
 1257                                              False
 1854                                              False
 1359                                              False
 4962                                              False
 2826                                              False

       listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
 1257                                              False
 1854                                              False
 1359                                              False
 4962                                              False
 2826                                              False

 [5 rows x 187 columns])

## 회귀분석을 위한 다중공정성

In [ ]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor


# VIF계산
vif_data = pd.DataFrame()
vif_data["Variable"] = data_dummies.columns
vif_data["VIF"] = [variance_inflation_factor(data_dummies.values, i) for i in range(data_dummies.shape[1])]

vif_data.sort_values(by="VIF", ascending=False, inplace=True)
vif_data.head(10)  # 상위 10개의 데이터셋

/usr/local/lib/python3.10/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                         Variable  VIF
0                        country_  inf
128             country_Venezuela  inf
119                country_Uganda  inf
120               country_Ukraine  inf
121  country_United Arab Emirates  inf
122        country_United Kingdom  inf
123       country_United Kingdom,  inf
124         country_United States  inf
125        country_United States,  inf
126               country_Uruguay  inf