<a href="https://colab.research.google.com/github/Chaeyeoncho/data_analysis_/blob/main/%EB%8D%B0%EB%B6%84_%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4%EC%84%A0%ED%98%B8%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = '/content/데분.csv'

In [ ]:
data = pd.read_csv(file_path, encoding='ISO-8859-1')
data.head()

,country,listed_in,frequency
0,"December 23, 2018","Hailing from the mountains of Iga, Kanzo Hatto...",1
1,", France, Algeria","Dramas, Independent Movies, International Movies",1
2,", South Korea","International TV Shows, TV Dramas",1
3,01-Oct-19,Nikki Glaser bares all in a blistering stand-u...,1
4,10-Oct-19,Singer-songwriter Gen Hoshino takes the stage ...,1

# 국가, 장르 별 전처리

In [ ]:
import pandas as pd

# CSV 파일 불러오기
file_path = '/content/데분.csv'
data = pd.read_csv(file_path , encoding='cp949')  # 한글 데이터를 포함하고 있으므로 'cp949' 인코딩 사용

# 필요한 컬럼만 선택
data_filtered = data[['country', 'listed_in']].dropna()

# 결측치 처리
data_filtered['country'].fillna('Unknown', inplace=True)  # 결측치를 'Unknown'으로 대체
data_filtered['listed_in'].fillna('No Category', inplace=True)  # 결측치를 'No Category'로 대체

# 'listed_in' 컬럼에서 카테고리를 쉼표로 구분하여 처리
data_filtered['listed_in'] = data_filtered['listed_in'].str.split(', ')
data_exploded = data_filtered.explode('listed_in')

# 중복 데이터 제거
data_exploded.drop_duplicates(inplace=True)

# 결과 확인
print(data_exploded.head())
print(data_exploded['listed_in'].unique())  # 카테고리 확인

# CSV 파일로 저장할 경우
#data_exploded.to_csv('/path/to/your/output_file.csv', index=False)

              country                                          listed_in
0   December 23, 2018                  Hailing from the mountains of Iga
0   December 23, 2018  Kanzo Hattori moves in with elementary school ...
1   , France, Algeria                                             Dramas
1   , France, Algeria                                 Independent Movies
1   , France, Algeria                               International Movies
['Hailing from the mountains of Iga'
 'Kanzo Hattori moves in with elementary school student Kenichi Mitsuba and his family to hone his skills as a ninja.'
 'Dramas' 'Independent Movies' 'International Movies'
 'International TV Shows' 'TV Dramas'
 'Nikki Glaser bares all in a blistering stand-up special about sex'
 "sobriety and getting over her own insecurities. And she won't spare you the details."
 'Singer-songwriter Gen Hoshino takes the stage at the sold out Tokyo Dome in his highly anticipated 2019 Pop Virus dome tour.'
 'After people in his town start turning up dead'
 'a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.'
 'Action & Adventure' 'Comedies' 'Horror Movies'
 'Children & Family Movies' 'Music & Musicals' 'Classic & Cult TV'
 'Crime TV Shows' 'Cult Movies' 'Romantic Movies' 'Docuseries'
 'Spanish-Language TV Shows' 'Documentaries' 'Sports Movies'
 'LGBTQ Movies' 'Sci-Fi & Fantasy' 'Thrillers' 'Reality TV'
 'Romantic TV Shows' 'TV Comedies' 'TV Horror' "Kids' TV" 'Teen TV Shows'
 'Stand-Up Comedy' 'Classic Movies' 'British TV Shows'
 'Science & Nature TV' 'TV Mysteries' 'TV Thrillers' 'Movies'
 'TV Action & Adventure' 'TV Sci-Fi & Fantasy' 'Faith & Spirituality'
 'Stand-Up Comedy & Talk Shows' 'Korean TV Shows' 'Anime Features'
 'Anime Series' 'TV Shows' 'Sci-fi' 'Horror' 'Action' 'Drama' 'Romance'
 'Thriller']

# 국가별 인기 장르 집계

In [ ]:
# 파일 경로
file_path = '/content/데분.csv'

# 파일 불러오기 (ISO-8859-1 인코딩 사용)
data = pd.read_csv(file_path, encoding='ISO-8859-1')

# 관련 컬럼 선택 및 결측치 제거
filtered_data = data[['country', 'listed_in']].dropna()

# 국가별로 데이터 분리 (국가명이 여러 개인 경우 분리)
filtered_data['country'] = filtered_data['country'].apply(lambda x: [country.strip() for country in x.split(',')])
filtered_data = filtered_data.explode('country')

# 장르별로 데이터 분리 (여러 장르가 한 셀에 있는 경우 분리)
filtered_data['listed_in'] = filtered_data['listed_in'].apply(lambda x: [genre.strip() for genre in x.split(',')])
filtered_data = filtered_data.explode('listed_in')

# 유효한 국가 이름만 필터링 (영문자 및 공백만 포함된 문자열)
valid_countries = filtered_data['country'].str.contains('^[A-Za-z ]+$')
filtered_valid_countries = filtered_data[valid_countries]

# 각 국가별로 가장 인기 있는 장르 집계
popular_genre_by_country = filtered_valid_countries.groupby('country')['listed_in'].agg(
    lambda x: x.value_counts().idxmax())

# 결과 출력
print(popular_genre_by_country.head(20))

country
Afghanistan              Documentaries
Albania                         Dramas
Algeria                         Dramas
Angola              Action & Adventure
Argentina         International Movies
Armenia                  Documentaries
Australia                       Dramas
Austria           International Movies
Azerbaijan      International TV Shows
Bahamas             Action & Adventure
Bangladesh                      Dramas
Belarus               British TV Shows
Belgium           International Movies
Bermuda                  Documentaries
Botswana                 Documentaries
Brazil            International Movies
Bulgaria            Action & Adventure
Burkina Faso                    Dramas
Cambodia                        Dramas
Cameroon                        Dramas
Name: listed_in, dtype: object

#국가별 장르 선호 빈도수 분석

In [ ]:
# CSV 파일 불러오기
data_path = '/content/데분.csv'
data = pd.read_csv(data_path, encoding='cp949')  # 인코딩을 'cp949'로 설정

# 'country'와 'listed_in' 컬럼에 집중
data_filtered = data[['country', 'listed_in']].dropna()

# 'country' 컬럼 정제하기
data_filtered['country'] = data_filtered['country'].str.split(', ')
data_exploded_countries = data_filtered.explode('country')
data_exploded_countries['country'] = data_exploded_countries['country'].str.strip()
valid_countries = data_exploded_countries['country'].str.contains('^[a-zA-Z ]+$')
cleaned_data = data_exploded_countries[valid_countries]

# 'listed_in' 컬럼 처리하기
cleaned_data['listed_in'] = cleaned_data['listed_in'].str.split(', ')
cleaned_data_exploded = cleaned_data.explode('listed_in')

# 국가별로 'listed_in' 카테고리 빈도수 계산
country_genre_counts = cleaned_data_exploded.groupby(['country', 'listed_in']).size().unstack(fill_value=0)

# 결과 출력
print(country_genre_counts.head())  # 처음 몇 줄만 출력

listed_in    Action  Action & Adventure  Anime Features  Anime Series  \
country
Afghanistan       0                   0               0             0
Albania           0                   0               0             0
Algeria           0                   0               0             0
Angola            0                   1               0             0
Argentina         0                   3               0             0

listed_in    British TV Shows  Children & Family Movies  Classic & Cult TV  \
country
Afghanistan                 0                         0                  0
Albania                     0                         0                  0
Algeria                     0                         0                  0
Angola                      0                         0                  0
Argentina                   0                         3                  1

listed_in    Classic Movies  Comedies  Crime TV Shows  ...  TV Comedies  \
country                                                ...
Afghanistan               0         0               0  ...            0
Albania                   0         0               0  ...            0
Algeria                   1         0               0  ...            0
Angola                    0         0               0  ...            0
Argentina                 1        12               3  ...            1

listed_in    TV Dramas  TV Horror  TV Mysteries  TV Sci-Fi & Fantasy  \
country
Afghanistan          0          0             0                    0
Albania              0          0             0                    0
Algeria              0          0             0                    0
Angola               0          0             0                    0
Argentina            2          1             0                    0

listed_in    TV Shows  TV Thrillers  Teen TV Shows  Thriller  Thrillers
country
Afghanistan         0             0              0         0          0
Albania             0             0              0         0          0
Algeria             0             0              0         0          0
Angola              0             0              0         0          0
Argentina           0             0              1         0          6

[5 rows x 48 columns]

<ipython-input-28-cadd437a84f9>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data['listed_in'] = cleaned_data['listed_in'].str.split(', ')

#gdp, 장르, 국가 병합

In [ ]:

# 파일 경로
genre_data_path = '/path/to/your/genre_data.csv'
gdp_data_path = '/path/to/your/gdp_data.csv'

# 데이터 불러오기
genre_data = pd.read_csv(genre_data_path)
gdp_data = pd.read_csv(gdp_data_path, encoding='cp949')

# 장르 데이터 변환: 모든 카테고리를 'listed_in' 컬럼으로 합침
melted_genre_data = country_genre_counts.melt(id_vars='country', var_name='listed_in', value_name='count')
melted_genre_data = melted_country_genre_counts[melted_genre_data['count'] > 0]

# GDP 데이터 컬럼 이름 변경 및 결측치 제거
gdp_data_renamed = gdp_data.rename(columns={'Country': 'country', 'GDP 2022': 'gdp'}).dropna()

# 두 데이터셋 병합
merged_data_final = pd.merge(melted_genre_data[['country', 'listed_in']], gdp_data_renamed, on='country', how='left')

# 최종 데이터 저장
output_path = '/path/to/your/final_merged_data.csv'
merged_data_final.to_csv(output_path, index=False)

print("Data saved successfully to:", output_path)

## Train 데이터와 test 데이터 분리

In [ ]:
# 필요한 컬럼만 선택
import pandas as pd
from sklearn.model_selection import train_test_split
data_filtered = data[['country', 'listed_in']].dropna()

# 'country'와 'listed_in' 컬럼에서 여러 항목이 포함된 경우 분리
data_filtered['country'] = data_filtered['country'].str.split(', ')
data_filtered = data_filtered.explode('country')
data_filtered['listed_in'] = data_filtered['listed_in'].str.split(', ')
data_filtered = data_filtered.explode('listed_in')

# 중복 데이터 제거
data_filtered.drop_duplicates(inplace=True)

# 더미 변수 생성
data_dummies = pd.get_dummies(data_filtered, columns=['country', 'listed_in'])

# 데이터를 훈련 세트와 테스트 세트로 분할 (80/20 비율)
train_set, test_set = train_test_split(data_dummies, test_size=0.2, random_state=42)

# 훈련 세트와 테스트 세트의 개요를 출력
train_set_info = train_set.info()
test_set_info = test_set.info()
train_set.head(), test_set.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1149 entries, 1147 to 1424
Columns: 187 entries, country_ to listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
dtypes: bool(187)
memory usage: 218.8 KB
<class 'pandas.core.frame.DataFrame'>
Index: 288 entries, 615 to 1207
Columns: 187 entries, country_ to listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
dtypes: bool(187)
memory usage: 54.8 KB

(      country_  country_ December 23  country_01-Oct-19  country_10-Oct-19  \
 1147     False                 False              False              False
 2536     False                 False              False              False
 210      False                 False              False              False
 1472     False                 False              False              False
 10       False                 False              False              False

       country_2018  country_28-Feb-18  country_Afghanistan  country_Albania  \
 1147         False              False                False            False
 2536         False              False                False            False
 210          False              False                False            False
 1472         False              False                False            False
 10           False              False                False            False

       country_Algeria  country_Angola  ...  listed_in_TV Horror  \
 1147            False           False  ...                False
 2536            False           False  ...                False
 210             False           False  ...                False
 1472            False           False  ...                False
 10              False           False  ...                False

       listed_in_TV Mysteries  listed_in_TV Sci-Fi & Fantasy  \
 1147                   False                          False
 2536                   False                          False
 210                    False                          False
 1472                   False                          False
 10                     False                          False

       listed_in_TV Shows  listed_in_TV Thrillers  listed_in_Teen TV Shows  \
 1147               False                   False                    False
 2536               False                   False                    False
 210                False                   False                    False
 1472               False                   False                    False
 10                 False                   False                    False

       listed_in_Thriller  listed_in_Thrillers  \
 1147               False                False
 2536               False                False
 210                False                False
 1472               False                False
 10                 False                False

       listed_in_a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.  \
 1147                                              False
 2536                                              False
 210                                               False
 1472                                              False
 10                                                False

       listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
 1147                                              False
 2536                                              False
 210                                               False
 1472                                              False
 10                                                False

 [5 rows x 187 columns],
       country_  country_ December 23  country_01-Oct-19  country_10-Oct-19  \
 615      False                 False              False              False
 912      False                 False              False              False
 652      False                 False              False              False
 1456     False                 False              False              False
 1147     False                 False              False              False

       country_2018  country_28-Feb-18  country_Afghanistan  country_Albania  \
 615          False              False                False            False
 912          False              False                False            False
 652          False              False                False            False
 1456         False              False                False            False
 1147         False              False                False            False

       country_Algeria  country_Angola  ...  listed_in_TV Horror  \
 615             False           False  ...                False
 912             False           False  ...                False
 652             False           False  ...                False
 1456            False           False  ...                False
 1147            False           False  ...                False

       listed_in_TV Mysteries  listed_in_TV Sci-Fi & Fantasy  \
 615                    False                          False
 912                    False                          False
 652                    False                          False
 1456                   False                          False
 1147                   False                          False

       listed_in_TV Shows  listed_in_TV Thrillers  listed_in_Teen TV Shows  \
 615                False                   False                    False
 912                False                   False                    False
 652                False                   False                    False
 1456               False                   False                    False
 1147               False                   False                    False

       listed_in_Thriller  listed_in_Thrillers  \
 615                False                False
 912                False                False
 652                False                False
 1456               False                False
 1147               False                False

       listed_in_a grumpy landlord is visited by a man who recounts an unsolved serial murder case from 30 years ago.  \
 615                                               False
 912                                               False
 652                                               False
 1456                                              False
 1147                                              False

       listed_in_sobriety and getting over her own insecurities. And she won't spare you the details.
 615                                               False
 912                                               False
 652                                               False
 1456                                              False
 1147                                              False

 [5 rows x 187 columns])